body{
    background-color: grey;
}
div{
    margin: 0 auto;
    margin-top: 30px;
    background-color: purple;
    width: min-content;
    height: max-content;
    border: black solid 5px;
}
form, h1{
    margin: 0 auto;
    text-align: center;
}
label, h1, a{
    color: gold;
}